.home-header{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: red;
  color:white;
  padding-left: 10px;
  padding-right: 10px;
  font-size:16px;

  .home-header-left{
    width: 60px;
    i{
      margin-left: 2px;
    }
    a{
      color:#fff;
    }
  }

  .home-header-right{
    width: 20px;
    a{
      color: #ffffff;
    }
  }
}

